body {
	text-align: center;
}

.square {
	float: left;
	height: 198px;
	width: 198px;
	background-color: black;
	border: 1px solid white;
}

.hover {
	background-color: red;
}


#wrapper {
	position: relative;
	top: 50px;
	margin: 0 auto;
	height: 800px;
	width: 800px;
}